@use 'base/variables' as var;
@use 'base/mixins' as mx;

.notavif.notwebp .header {
  background-image: url(../img/page/header.jpg);
}

.webp .header {
  background-image: url(../img/page/header.webp);
}

.avif .header {
  background-image: url(../img/page/header.avif);
}

.header {
  min-height: 50rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 0 20rem 0;
  &__search {
    margin-top: 5rem;
    text-align: center;
    &-btn {
      transition: all 0.2s ease-in-out;
      @include mx.button(var.$color_white, var.$color_primary);
      &:hover {
        color: var.$color_secondary;
        background-color: var.$color_gray_light;
      }
    }
    @include mx.media-tablet {
      margin-top: 30rem;
    }
  }
}
