$font_primary: 'Lexend', sans-serif;

$color_primary: #e8505b;
$color_secondary: rgb(189 30 89 / 1);
$color_black: #000000;
$color_white: #ffffff;
$color_gray: #686868;
$color_gray_light: #e1e1e1;

$media_tel: 480px;
$media_tablet: 768px;
$media_desktop: 1024px;
$media_desktop_xl: 1440px;

$separator: 5rem;
