@use 'base/variables' as var;
@use 'base/mixins' as mx;

.experiences {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 30rem);
    gap: 2rem;
    padding-bottom: 3rem;
    margin: 2rem 0;
    @include mx.scroll-x;
    @include mx.media-tablet {
      padding-bottom: 0;
      overflow: hidden;
      @include mx.grid(3);
    }
  }
}

.experience {
  border-radius: 1rem;
  overflow: hidden;
  &__description {
    background: linear-gradient(
      to right,
      var.$color_primary 0%,
      var.$color_secondary 100%
    );
    padding: 2rem 1rem;
    > * {
      color: var.$color_white;
    }
    h3 {
      font-size: 2rem;
    }
    p {
      font-size: 1.6rem;
    }
  }
}
